@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.services-container, .blog-container .blog-components .text-blog, .portfolio-container, .values-container, .client-comment-container, .contact-form-container, .logos-container, .footer-contact-container {
  width: 100%;
  padding: 30px 40px;
}

.banner-container .main-image .button-submit, .blog-container .blog-components .text-blog .button-submit, .contact-form-container button {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #7cc576;
  border: none;
  border-radius: 20px;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  z-index: inherit;
}

.banner-container .main-image .button-submit:hover, .blog-container .blog-components .text-blog .button-submit:hover, .contact-form-container button:hover {
  background-color: white;
  color: #7cc576;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.header-container {
  position: fixed;
  width: 100%;
  padding: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

@media (min-width: 600px) {
  .header-container {
    padding: 30px;
  }
}

@media (min-width: 1025px) {
  .header-container {
    padding: 30px 50px;
  }
}

.header-container nav {
  position: absolute;
  width: 50%;
  padding: 5%;
  background-color: white;
  top: 0;
  right: -50%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 1025px) {
  .header-container nav {
    position: static;
    width: 80%;
    padding: 0;
    -webkit-transition: 0;
    transition: 0;
  }
}

@media (min-width: 1025px) {
  .header-container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header-container nav ul li {
  font-size: 1em;
  list-style: none;
  line-height: 20px;
  padding: 5%;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 600px) {
  .header-container nav ul li {
    font-size: 1em;
  }
}

@media (min-width: 1025px) {
  .header-container nav ul li {
    padding: 2%;
    line-height: 0;
    -webkit-transition: 0;
    transition: 0;
  }
}

.header-container nav ul li:hover {
  padding-left: 10%;
}

@media (min-width: 1025px) {
  .header-container nav ul li:hover {
    padding-left: 2%;
  }
}

.header-container nav ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-weight: 700;
}

nav.active-menu {
  right: 0;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 3;
}

.menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 26px;
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: black;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before, .menu-toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media (min-width: 1025px) {
  .menu-toggle {
    display: none;
  }
}

button:hover {
  color: #262626;
}

button.is-active {
  border-color: transparent;
}

button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.banner-container {
  width: 100%;
  margin-top: 20px;
  background-image: url("../images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  .banner-container {
    margin-top: 50px;
  }
}

.banner-container .main-image {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .banner-container .main-image {
    padding: 10%;
  }
}

.banner-container .main-image h1, .banner-container .main-image p, .banner-container .main-image button {
  text-align: center;
  margin-top: 20px;
  color: white;
}

@media (min-width: 600px) {
  .banner-container .main-image h1, .banner-container .main-image p, .banner-container .main-image button {
    margin-top: 30px;
  }
}

.banner-container .main-image h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .banner-container .main-image h1 {
    font-size: 2em;
  }
}

@media (min-width: 1025px) {
  .banner-container .main-image h1 {
    font-size: 2.5em;
  }
}

.banner-container .main-image p {
  font-size: 1em;
  font-family: "Roboto Slab", serif;
  color: #CCCC;
}

@media (min-width: 1025px) {
  .banner-container .main-image p {
    font-size: 1.2em;
  }
}

@media (min-width: 600px) {
  .banner-container .main-image .button-submit {
    font-size: 1em;
  }
}

@media (min-width: 1025px) {
  .banner-container .main-image .button-submit {
    font-size: 1.2em;
  }
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 1025px) {
  .services-container {
    padding: 50px 60px;
  }
}

.services-container h3 {
  width: 300px;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-bottom: 15px;
}

@media (min-width: 1025px) {
  .services-container h3 {
    font-size: 2em;
  }
}

.services-container .about-page-container {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .services-container .about-page-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
  }
}

.services-container .about-page-container div {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  line-height: 1.5em;
}

@media (min-width: 800px) {
  .services-container .about-page-container div {
    padding: 10px;
  }
}

.services-container .about-page-container div img {
  padding: 20px;
}

.services-container .about-page-container div h4 {
  text-transform: uppercase;
}

@media (min-width: 1025px) {
  .services-container .about-page-container div h4 {
    font-size: 1.2em;
  }
}

.services-container .about-page-container div p {
  font-size: 0.8em;
  font-family: "Roboto Slab", serif;
}

@media (min-width: 1025px) {
  .services-container .about-page-container div p {
    font-size: 1em;
  }
}

.blog-container {
  width: 100%;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-container .img-container {
  position: relative;
  width: 30%;
  display: none;
}

@media (min-width: 700px) {
  .blog-container .img-container {
    display: block;
  }
}

.blog-container .img-container img.gear {
  position: absolute;
  display: block;
  top: 50%;
  left: 100%;
  -webkit-animation: imgrotate 10s linear infinite;
          animation: imgrotate 10s linear infinite;
}

@-webkit-keyframes imgrotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes imgrotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.blog-container .blog-components {
  width: 100%;
  background-image: url("../images/BackgroundII.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  z-index: 1;
}

@media (min-width: 700px) {
  .blog-container .blog-components {
    width: 70%;
  }
}

.blog-container .blog-components .text-blog {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1025px) {
  .blog-container .blog-components .text-blog {
    padding: 50px 60px;
  }
}

.blog-container .blog-components .text-blog h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .blog-container .blog-components .text-blog h3 {
    font-size: 1.5em;
  }
}

@media (min-width: 1025px) {
  .blog-container .blog-components .text-blog h3 {
    font-size: 2em;
  }
}

.blog-container .blog-components .text-blog h3 span {
  color: #7cc576;
}

.blog-container .blog-components .text-blog p {
  text-align: justify;
  font-family: "Roboto Slab", serif;
}

@media (min-width: 800px) {
  .blog-container .blog-components .text-blog p {
    width: 70%;
  }
}

.blog-container .blog-components .text-blog p, .blog-container .blog-components .text-blog ul {
  font-size: 0.8em;
  margin: 30px 0;
  color: #CCCC;
}

@media (min-width: 1025px) {
  .blog-container .blog-components .text-blog p, .blog-container .blog-components .text-blog ul {
    font-size: 1em;
  }
}

.blog-container .blog-components .text-blog ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

.blog-container .blog-components .text-blog ul li::before {
  content: url("../images/icon/Checkmark-2.png");
  padding-right: 20px;
}

@media (min-width: 1025px) {
  .blog-container .blog-components .text-blog .button-submit {
    font-size: 1em;
  }
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
}

@media (min-width: 800px) {
  .portfolio-container {
    background-image: url("../images/isometric iPad Air.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
  }
}

@media (min-width: 1025px) {
  .portfolio-container {
    padding: 50px 60px;
  }
}

.portfolio-container h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 1.5em;
}

@media (min-width: 600px) {
  .portfolio-container h2 {
    padding-bottom: 15px;
  }
}

@media (min-width: 1025px) {
  .portfolio-container h2 {
    font-size: 2em;
  }
}

.portfolio-container p {
  font-family: "Roboto Slab", serif;
  padding-bottom: 30px;
}

@media (min-width: 600px) {
  .portfolio-container p {
    padding-bottom: 40px;
  }
}

@media (min-width: 1025px) {
  .portfolio-container p {
    font-size: 1em;
    padding-bottom: 50px;
  }
}

.portfolio-container .technologies {
  padding: 25px 0;
}

@media (min-width: 800px) {
  .portfolio-container .technologies {
    width: 50%;
  }
}

.portfolio-container .technologies h5 {
  text-transform: uppercase;
  padding-bottom: 15px;
}

@media (min-width: 600px) {
  .portfolio-container .technologies h5 {
    font-size: 1em;
  }
}

@media (min-width: 1025px) {
  .portfolio-container .technologies h5 {
    font-size: 1.2em;
  }
}

.portfolio-container .technologies .content-li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-container .technologies .content-li img {
  height: 50px;
  width: 50px;
  margin-right: 25px;
}

@media (min-width: 600px) {
  .portfolio-container .technologies .content-li img {
    margin-right: 40px;
  }
}

.portfolio-container .technologies .content-li .description h3 {
  text-transform: uppercase;
  font-size: 1em;
}

@media (min-width: 1025px) {
  .portfolio-container .technologies .content-li .description h3 {
    font-size: 1.2em;
  }
}

.portfolio-container .technologies .content-li .description p {
  font-size: 0.8em;
}

@media (min-width: 1025px) {
  .portfolio-container .technologies .content-li .description p {
    font-size: 1em;
  }
}

.view-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #7cc576;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1025px) {
  .view-link {
    font-size: 1.2em;
  }
}

.view-link i {
  -webkit-animation: arrow 0.5s alternate linear infinite backwards;
          animation: arrow 0.5s alternate linear infinite backwards;
}

@media (min-width: 1025px) {
  .view-link i {
    font-size: 1.2em;
  }
}

@-webkit-keyframes arrow {
  0% {
    margin-left: 15px;
  }
  100% {
    margin-left: 25px;
  }
}

@keyframes arrow {
  0% {
    margin-left: 15px;
  }
  100% {
    margin-left: 25px;
  }
}

.values-container {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
}

@media (min-width: 1025px) {
  .values-container {
    padding: 50px 60px;
  }
}

.values-container h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 15px;
}

@media (min-width: 600px) {
  .values-container h3 {
    padding-bottom: 20px;
  }
}

@media (min-width: 1025px) {
  .values-container h3 {
    font-size: 2em;
  }
}

.values-container p {
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.values-container .content-values {
  position: relative;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .values-container .content-values {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.values-container .content-values .values-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

@media (min-width: 900px) {
  .values-container .content-values .values-feature {
    padding: 60px 10px;
    width: calc(100 / 3);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.values-container .content-values .values-feature h5 {
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 1025px) {
  .values-container .content-values .values-feature h5 {
    font-size: 1.2em;
  }
}

.client-comment-container {
  font-size: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .client-comment-container {
    padding: 50px 60px;
  }
}

.client-comment-container h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 15px;
}

@media (min-width: 1025px) {
  .client-comment-container h3 {
    font-size: 2em;
  }
}

.client-comment-container p {
  font-family: "Roboto Slab", serif;
}

.content-comment {
  width: 70vw;
}

.content-comment .sample-comment {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .content-comment .sample-comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 70px 0;
  }
}

.content-comment .sample-comment .client-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 20px;
}

.content-comment .sample-comment .client-text {
  background-color: #f9f9f9;
  padding: 20px;
  width: 100%;
  margin-left: 0;
}

@media (min-width: 600px) {
  .content-comment .sample-comment .client-text {
    margin-left: 20px;
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .content-comment .sample-comment .client-text {
    margin-left: 30px;
  }
}

.content-comment .sample-comment .client-text p:nth-child(2) {
  padding-top: 10px;
  color: #7cc576;
  font-size: 0.8em;
  text-align: left;
}

@media (min-width: 1025px) {
  .content-comment .sample-comment .client-text p:nth-child(2) {
    font-size: 1em;
    text-align: center;
  }
}

.contact-form-container {
  background-color: #7cc576;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

@media (min-width: 1025px) {
  .contact-form-container {
    padding: 50px 60px;
  }
}

.contact-form-container h3 {
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 600px) {
  .contact-form-container h3 {
    padding: 30px;
  }
}

@media (min-width: 1025px) {
  .contact-form-container h3 {
    font-size: 2em;
  }
}

.contact-form-container button {
  border: 2px solid white;
  margin-top: 20px;
}

@media (min-width: 600px) {
  .contact-form-container button {
    margin-top: 30px;
    font-size: 1em;
  }
}

.logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1025px) {
  .logos-container {
    padding: 50px 60px;
  }
}

.logos-container img {
  padding: 20px;
}

.footer-contact-container {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 800px) {
  .footer-contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .footer-contact-container {
    padding: 50px 60px;
  }
}

@media (min-width: 800px) {
  .footer-contact-container .post-content,
  .footer-contact-container .contact-content,
  .footer-contact-container .tweet-content {
    padding: 20px;
  }
}

.footer-contact-container .post-content h5,
.footer-contact-container .contact-content h5,
.footer-contact-container .tweet-content h5 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .footer-contact-container .post-content h5,
  .footer-contact-container .contact-content h5,
  .footer-contact-container .tweet-content h5 {
    font-size: 1.2em;
  }
}

@media (min-width: 800px) {
  .footer-contact-container .post-content h5,
  .footer-contact-container .contact-content h5,
  .footer-contact-container .tweet-content h5 {
    text-align: center;
  }
}

.footer-contact-container .post-content ul,
.footer-contact-container .contact-content ul,
.footer-contact-container .tweet-content ul {
  display: none;
}

@media (min-width: 800px) {
  .footer-contact-container .post-content ul,
  .footer-contact-container .contact-content ul,
  .footer-contact-container .tweet-content ul {
    display: block;
    margin: 10px;
  }
}

.footer-contact-container .post-content ul li,
.footer-contact-container .contact-content ul li,
.footer-contact-container .tweet-content ul li {
  list-style: none;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .footer-contact-container .post-content ul li,
  .footer-contact-container .contact-content ul li,
  .footer-contact-container .tweet-content ul li {
    font-size: 0.8em;
  }
}

.footer-contact-container .post-content ul li img,
.footer-contact-container .contact-content ul li img,
.footer-contact-container .tweet-content ul li img {
  margin: 10px 10px 10px 0;
}

@media (min-width: 600px) {
  .footer-contact-container .post-content ul li img,
  .footer-contact-container .contact-content ul li img,
  .footer-contact-container .tweet-content ul li img {
    margin: 15px 15px 15px 0;
  }
}

.footer-contact-container .post-content ul li p span,
.footer-contact-container .contact-content ul li p span,
.footer-contact-container .tweet-content ul li p span {
  display: block;
  padding-bottom: 5px;
  font-size: 0.8em;
}

@media (min-width: 600px) {
  .footer-contact-container .post-content ul li p span,
  .footer-contact-container .contact-content ul li p span,
  .footer-contact-container .tweet-content ul li p span {
    padding-bottom: 10px;
  }
}

.footer-contact-container .post-content ul.active-list-element,
.footer-contact-container .contact-content ul.active-list-element,
.footer-contact-container .tweet-content ul.active-list-element {
  display: block;
}

.end-page-footer-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.end-page-footer-container h6 {
  padding: 15px 0;
  text-align: center;
}

@media (min-width: 600px) {
  .end-page-footer-container h6 {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=main.css.map */