.banner-container {
    width: 100%;
    margin-top: 20px;
    background-image: url('../images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media #{$tablet} {   
        margin-top: 50px;    
    }
   

    .main-image {
        background-color: rgba($color: #000000, $alpha: 0.7);
        height: 100%;
        padding: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1, p, button {
            text-align: center;
            margin-top: 20px;
            color: white;

            @media #{$tablet} {   
                margin-top: 30px;  
               }
        }

        h1 {
            font-size: 1.5em;
            text-transform: uppercase;

            @media #{$tablet} {   
                font-size: 2em;
            }

            @media #{$desktop-xs} {   
                font-size: 2.5em;
            }
        }

        p {
            font-size: $f-s-p;
            font-family: $f-f-p;
            color: $f-c-background;

            @media #{$desktop-xs} {   
                font-size: 1.2em;
            }
        }

        .button-submit {
            @extend %button;

            @media #{$tablet} {   
             font-size: 1em;   
            }

            @media #{$desktop-xs} {   
                font-size: 1.2em;
            }
        }
    }
   
}