.contact-form-container {
    @extend %main-container;
    background-color: $c-g;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: $t-t;

    @media #{$desktop-xs} {   
        padding: $container-d;
    }




    h3 {
        font-size: $f-s-title;
        text-align: center;


        @media #{$tablet} {
            padding: 30px;
        }

        @media #{$desktop-xs} {   
            font-size: 2em;
        }
    }

    button {
        @extend %button;
        border: 2px solid white;
        margin-top: 20px;

        @media #{$tablet} {
            margin-top: 30px;
            font-size: 1em;
        }
    }
}