.header-container {
    position: fixed;
    width:100%;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    
    @media #{$tablet} {   
        padding: 30px;
    }

    @media #{$desktop-xs} {   
        padding: 30px 50px;
    }


    nav {
        position: absolute;
        width: 50%;
        padding: 5%;
        background-color: white;
        top: 0;
        right: -50%;
        transition: 1s;

       
        @media #{$desktop-xs} {   
            position: static;
            width: 80%;
            padding: 0;
            transition: 0;
        }


        ul {

             
        @media #{$desktop-xs} {   
            display: flex;
            justify-content: flex-end;
        }

            li {
                font-size: $f-s-p;
                list-style: none;
                line-height: 20px;
                padding: 5%;
                text-transform: uppercase;
                transition: 0.3s;
            


                @media #{$tablet} {   
                font-size: 1em;   
                }


                @media #{$desktop-xs} {   
                    padding: 2%;
                    line-height: 0;
                    transition: 0;
                    
                }
        

                &:hover {
                    padding-left: 10%;

                    @media #{$desktop-xs} {   
                        padding-left: 2%;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;
                    display: inline-block;
                    font-weight: 700;
                }
            }
        }
    }
}
nav.active-menu {
    right: 0;
    
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 3;
  }

  .menu-toggle {
    position: relative;
    display: block;
    width: $buttonWidth;
    height: $buttonHeight;
    
    background: transparent;
    border-top: $lineThickness solid;
    border-bottom: $lineThickness solid;
    
    color: $buttonColor;
    font-size: 0;
    
    transition: all $transitionSpeed $transitionEasing;
  
    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: $lineThickness;
      
      position: absolute;
      top: 50%;
      left: 50%;
      
      background: currentColor;
      
      transform: translate(-50%, -50%);
      transition: transform $transitionSpeed $transitionEasing;
    } 


    @media #{$desktop-xs} {   
        display: none;
    }


  }
  
  button:hover {
    color: lighten($buttonColor, 15%);
  }
  
  button.is-active {
    border-color: transparent;
  
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  