.footer-contact-container {
    @extend %main-container;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media #{$desktop-m} {
        flex-direction: row;
    }
    

    .post-content,
    .contact-content,
    .tweet-content {

        @media #{$desktop-m} {
            padding: 20px;
        }
        h5 {
            font-size: $f-s-p;
            text-transform: $t-t;
            margin: 5px;
            cursor: pointer;

            @media #{$tablet} {
                font-size: 1.2em;
            }

            @media #{$desktop-m} {

                text-align: center;
            }
        }

        
        ul {
            display: none;  

            @media #{$desktop-m} {
                display: block;
            }


            

            li {
                list-style: none;
                font-size: $f-s-small;
                display: flex;
                align-items: center;


               

                @media #{$desktop-m} {
                    font-size: 0.8em;
                }

                
                img {
                    margin: 10px 10px 10px 0;

                    @media #{$tablet} {
                        margin: 15px 15px 15px 0;
                    }
                }

                p {
                    span {
                        display: block;
                        padding-bottom: 5px;
                        font-size: $f-s-small;

                        @media #{$tablet} {
                          padding-bottom: 10px;
                        }
                    }
            
                }
            }

        }

        ul.active-list-element {
            display: block;
        }
    
    }
}


