.logos-container {
    @extend %main-container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @media #{$desktop-xs} {   
        padding: $container-d;
    }


    img {
        padding: 20px;
    }
}