.portfolio-container {
    @extend %main-container;
    display: flex;
    flex-direction: column;
    font-size: $f-s-p;

    h2 {
        text-transform: $t-t;
        padding-bottom: 10px;
        font-size: $f-s-title;

        @media #{$tablet} {   
            font-size: 2em;
            padding-bottom: 15px;       
        }
    }

    p {
        font-size: $f-s-small;
        padding-bottom: 30px;

        @media #{$tablet} {   
            font-size: $f-s-p;
            padding-bottom: 40px;       
        }
    }

    .technologies {
        padding: 25px 0;

        h5 {
            text-transform: $t-t;
            padding-bottom: 15px;

            @media #{$tablet} {   
                font-size: 1em;
                padding-bottom: 25px; 
            }
        }

        .content-li {
            list-style: none;
            display: flex;

            img {
                height: 50px;
                width: 50px;
                margin-right: 25px;

                @media #{$tablet} {   
                    margin-right: 40px;   
                }
            }

            .description {
                
                h3 {
                    text-transform: $t-t;
                    font-size: $f-s-p;

                    @media #{$tablet} {   
                        font-size: 1.2em;   
                    }
                }
            }
        }
    }
}

.view-link {
    text-decoration: none;
    text-transform: $t-t;
    color: $c-g;
    display: flex;

    @media #{$tablet} {   
        font-size: 1.2em;   
    }

    i {
        animation: arrow 0.5s alternate linear infinite backwards;
    }
}


@keyframes arrow {
    0% {
        margin-left: 15px;
    }
    100% {
        margin-left: 25px;
    }
}