.portfolio-container {
    @extend %main-container;
    display: flex;
    flex-direction: column;
    font-size: $f-s-p;

    @media #{$tablet-m} {   
        background-image: url('../images/isometric\ iPad\ Air.png');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 50%;   
    }

    @media #{$desktop-xs} {   
        padding: $container-d;
    }


    h2 {
        text-transform: $t-t;
        padding-bottom: 15px;
        font-size: $f-s-title;

        @media #{$tablet} {   
            padding-bottom: 15px;       
        }

        @media #{$desktop-xs} {   
            font-size: 2em;
        }
    }

    p {
        font-family: $f-f-p;
        padding-bottom: 30px;

        @media #{$tablet} {   
            padding-bottom: 40px;       
        }

        @media #{$desktop-xs} {   
            font-size: $f-s-p;
            padding-bottom: 50px
        }
    }

   

    .technologies {
        padding: 25px 0;

        @media #{$tablet-m} {   
            width: 50%;
        }

        h5 {
            text-transform: $t-t;
            padding-bottom: 15px;

            @media #{$tablet} {   
                font-size: 1em; 
            }

            @media #{$desktop-xs} {   
                font-size: 1.2em;
            }
        }

        .content-li {
            list-style: none;
            display: flex;

            img {
                height: 50px;
                width: 50px;
                margin-right: 25px;

                @media #{$tablet} {   
                    margin-right: 40px;   
                }
            }

            .description {
                
                h3 {
                    text-transform: $t-t;
                    font-size: $f-s-p;

                    @media #{$desktop-xs} {   
                        font-size: 1.2em;
                    }
                }

                p {
                    font-size: $f-s-small;

                    @media #{$desktop-xs} {   
                        font-size: $f-s-p;
                    }
                }

            }
        }
    }
}

.view-link {
    text-decoration: none;
    text-transform: $t-t;
    color: $c-g;
    display: flex;

    @media #{$desktop-xs} {   
        font-size: 1.2em;
    }


    i {
        animation: arrow 0.5s alternate linear infinite backwards;

        @media #{$desktop-xs} {   
            font-size: 1.2em;
        }
    }
}




@keyframes arrow {
    0% {
        margin-left: 15px;
    }
    100% {
        margin-left: 25px;
    }
}