.services-container {
    @extend %main-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $f-s-p;
    text-align: center;


    @media #{$desktop-xs} {   
        padding: $container-d;
    }

    

        h3 {
            width: 300px;
            text-transform: $t-t;
            font-size: $f-s-title;
            padding-bottom: 15px;

            @media #{$desktop-xs} {   
                font-size: 2em;
            }
        }

        .about-page-container {
            width: 70vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            @media #{$tablet-m} {  
                flex-direction: row;
                justify-content: space-around;
                width: 90%;
               }




            div {
                flex-grow: 3;
                line-height: 1.5em;

                @media #{$tablet-m} {  
                    padding: 10px;
                   }
                

                img {
                padding: 20px;
                }

                h4 {
                    text-transform: $t-t;

                    @media #{$desktop-xs} {   
                        font-size: 1.2em;
                    }
                    
                }
                p {
                    font-size: $f-s-small;
                    font-family: $f-f-p;

                    @media #{$desktop-xs} {   
                        font-size: $f-s-p;
                    }

                  
                 }
            }
        } 
    

}