.values-container {
    @extend %main-container;
    background-color: $c-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $f-s-p;

    @media #{$desktop-xs} {   
        padding: $container-d;
    }



        h3 {
            text-transform: $t-t;
            font-size: $f-s-title;
            text-align: center;
            padding-bottom: 15px;

            @media #{$tablet} {   
                padding-bottom: 20px;  
            }

            @media #{$desktop-xs} {   
                font-size: 2em;
            }
            
        }

        p {
            text-align: center;
            font-family: $f-f-p;
        }

        .content-values {
            position: relative;
            width: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media #{$tablet-xl} {   
                flex-direction: row;  
            }


            
            .values-feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 40px;

            @media #{$tablet-xl} {   
                padding: 60px 10px;
                width: calc(100 / 3);  
                justify-content: space-around; 
            }


            h5 {
                padding: 20px 0 20px 0;
                text-transform: $t-t;
                text-align: center;

                @media #{$desktop-xs} {   
                    font-size: 1.2em;
                }
            }
        }

     
    }
}

    